<header>
  <div id="logo" class="logo">
    <a href="/">
      <!-- <img src="./img/logo-white.png" alt="" /> -->
      Broker Wizads
    </a>
  </div>
  <ul class="nav" id="nav">
    <ul class="navLogo logo">
      <a href="/">
        <!-- <img src="./img/logo-white.png" alt="" /> -->
        Broker Wizads
      </a>
    </ul>

    <li class="nav-link"><a href="/">Home</a></li>
    <li class="nav-link"><a href="stocks">Stocks</a></li>
    <li class="nav-link"><a href="for-trader">For Traders</a></li>
    <li class="nav-link hide-on-mobile">
      <a href="login">Login</a>
    </li>
    <li class="nav-link hide-on-mobile">
      <a href="sign-up">Sign Up</a>
    </li>
    <li class="sociallinkContainer">
      <img class="sociallink" src="./img/fabook-icon-white.svg" alt="" />
      <img class="sociallink" src="./img/twitter-icon-white.svg" alt="" />
      <img class="sociallink" src="./img/inkedin-icon-white.svg" alt="" />
      <img class="sociallink" src="./img/whatsapp-icon-white.svg" alt="" />
    </li>
  </ul>
  <ul class="nav-right">
    <li><a href="login">Login</a></li>
    <li><a href="sign-up">Sign Up</a></li>
  </ul>
  <div id="barContainer" class="toggle">
    <i id="bar" class="fa-solid fa-bars"></i>
  </div>
</header>
