<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Broker Wizards Login</title>
    <%- include("includes/head.ejs") %>
  </head>
  <body>
    <div class="main-body">
      <div class="card-wraper">
        <h2>Login</h2>
        <form action="">
          <label for="email">Email</label>
          <input type="email" placeholder="Enter Your Email" />
          <label for="passowrd">Password</label>
          <input type="password" placeholder="Enter Password" />
          <button type="button">Submit</button>
        </form>
      </div>
    </div>
  </body>
</html>
