<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head.ejs") %>
    <title>Broker Wizards Stocks</title>
  </head>
  <body>
    <!-- Header -->
    <%- include("includes/header.ejs") %>

    <!-- Pager Header -->
    <div class="header-wraper">
      <h1>Our Stocks</h1>
    </div>

    <div class="">
      <!-- Carousel -->
      <section class="plan-wraper">
        <div class="eachCarousel">
          <img src="./img/bitcoin-icon.png" alt="" />
          <article class="carouselDesc">
            <h1 class="carouselTitle">Broker Wizards Coin A</h1>
            <p class="carouselPara">
              Broker Wizards is an innovative payment network
            </p>
            <div class="carouselPrice">
              <h3>$500</h3>
              <span class="rect"></span>
              <h3 class="carouselDiscount">5%</h3>
            </div>
            <form action="for-trader" method="get">
              <button class="btn carouselBtn">Buy & Trade</button>
            </form>
          </article>
        </div>

        <div class="eachCarousel">
          <img src="./img/ethereum-icon.png" alt="" />
          <article class="carouselDesc">
            <h1 class="carouselTitle">Broker Wizards Coin B</h1>
            <p class="carouselPara">
              Broker Wizards is an innovative payment network
            </p>
            <div class="carouselPrice">
              <h3>$1,000</h3>
              <span class="rect"></span>
              <h3 class="carouselDiscount">10%</h3>
            </div>
            <form action="for-trader" method="get">
              <button class="btn carouselBtn">Buy & Trade</button>
            </form>
          </article>
        </div>

        <div class="eachCarousel">
          <img src="./img/tether-icon.png" alt="" />
          <article class="carouselDesc">
            <h1 class="carouselTitle">Broker Wizards Coin C</h1>
            <p class="carouselPara">
              Broker Wizards is an innovative payment network
            </p>
            <div class="carouselPrice">
              <h3>$1,500</h3>
              <span class="rect"></span>
              <h3 class="carouselDiscount">15%</h3>
            </div>
            <form action="for-trader" method="get">
              <button class="btn carouselBtn">Buy & Trade</button>
            </form>
          </article>
        </div>

        <div class="eachCarousel">
          <img src="./img/bitcoin-icon.png" alt="" />
          <article class="carouselDesc">
            <h1 class="carouselTitle">Broker Wizards Coin D</h1>
            <p class="carouselPara">
              Broker Wizards is an innovative payment network
            </p>
            <div class="carouselPrice">
              <h3>$2,000</h3>
              <span class="rect"></span>
              <h3 class="carouselDiscount">20%</h3>
            </div>
            <form action="for-trader" method="get">
              <button class="btn carouselBtn">Buy & Trade</button>
            </form>
          </article>
        </div>
      </section>
    </div>

    <!-- Footer -->
    <%- include("includes/footer.ejs") %>
  </body>
</html>
